<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Olivier Sautron">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">

    <title>Album Photo</title>
<!-- Letter 036 -->
  </head>
  <body style="position: absolute;left: calc((100% - 649px)/2);right: calc(100% - (100% - 649px)/2);background-color: #ffffff;">

    <div id="tpMlContainer" style="display: block;width: 649px;">
        <header id="tpMlHeader" style="width: 609px;margin-top: 20px;margin-left: 20px;">
          <hr style="width: 609px;height: 0px;margin-top: 20px;opacity: 0.9;border: 1px solid #F3F3F3;">
        </header>

        <div id="tpMlMain" style="width: 609px;display: block;margin-top: 20px;margin-left: 20px;">
          <div id="tpMlTitle" style="font-family: Poppins;font-style: normal;font-weight: 300;font-size: 22px;line-height: 50px;margin: 3rem 0 1.5rem 0;color: #000000;">
            Bonjour <%= formatUserName(data.prenom, data.nom) %>
          </div>
          <section class="tpMlReservationSection" style="margin-bottom: 2rem;">
            <div>Bienvenue sur Album Photo. Veuillez confirmer votre email</div>     
          </section>   
          
          <div class="tpMlChatButtonContainer" style="display: block;text-align: center; margin-top: 2.5rem;margin-bottom: 1.5rem">
            <a href="<%= mLinks.confirmLink %>">
              <button style="width: 410px;height: 54px;background: #FCBC2C;border: none;border-radius: 8px;margin: 1rem;">Confirmer l'email</button>
            </a>
          </div>

          <section class="tpMlReservationSection" style="margin-bottom: 2rem;">    
              <div>Merci.<br> L'équipe album Photo</div>     
          </section>   
        </div>

        <footer id="tpMlFooter" style="width: 609px;margin-top: 20px;margin-left: 20px;margin-bottom: 1rem;">
          <div class="tpMlFooterLogoAndIcon" style="display: block;">
            <img src="cid:logo.png" style="width: 124px;height: 36px;">
            <div style="float: right;">
              <div class="tpMlsocial" style="width: 24px;height: 24px;float: left;margin-left: 1.5rem;">
                <img src="cid:facebook.png" style="width: 24px;height: 24px;">
              </div>
              <div class="tpMlsocial" style="width: 24px;height: 24px;float: left;margin-left: 1.5rem;">
                <img src="cid:instagram.png" style="width: 24px;height: 24px;">
              </div>
            </div>
          </div>
          <hr style="width: 609px;height: 0px;margin-top: 20px;opacity: 0.9;border: 1px solid #F3F3F3;">
          <div style="font-family: Poppins;font-style: normal;font-weight: normal;font-size: 13px;line-height: 19px;color: #999999;">
            Copyright &copy; 2021.
          </div>
        </footer>
  </body>
</html>